body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #f3f5f9;
}

.info-bar-styler {
  border: 1.5px solid #4285f4;
  border-radius: 15px;
  text-align: center;
  line-height: 200%;
}

.info-item {
  text-decoration: none;
}

.navbar .nav-item {
  margin-right: 60px;
  font-weight: 300;
}

.navbar .nav-item:last-child {
  margin-right: 0;
}

.landing-styler {
  margin-left: 10vw;
}

.landing-hero {
  font-size: 80px;
  font-weight: 400 !important;
  color: #4285f4;
}

.landing-hero-two {
  margin-top: -25px;
}

.landing-info {
  width: 90%;
}

.about-us,
.gallery,
.contact {
  background-color: #4285f4;
  min-width: 100vw;
  padding-bottom: 10vh;
}

.about-wrapper {
  color: #ffffff;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.section-header {
  font-size: 48px;
}

.about-text {
  width: 60%;
}

.treatments,
.comments,
.faq {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
}

.cure-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
}

.row-height {
  min-height: 350px;
}

.cure-header {
  color: #4285f4;
  font-weight: 400;
  font-size: 24px;
}

.cure-text {
  font-size: 16px;
  text-align: start;
}

.contact-header {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}

.contact-area {
  padding-left: 11vw;
}

.faq-header {
  font-weight: 500;
}

.mobile-container,
.mobile-landing-item {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .mobile-container {
    display: block;
  }

  nav {
    display: none !important;
  }

  .mobile-hero {
    color: #4285f4;
    font-weight: 500;
    font-size: 18px;
  }

  .mobile-info-bar {
    width: 60vw;
  }

  .mobile-info-item {
    margin-top: 2vh;
  }

  .landing {
    display: none;
  }

  .mobile-landing-item {
    display: block;
  }

  .about-text {
    width: 100%;
  }

  .about-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .treatments,
  .comments,
  .faq,
  .mobile-gallery-header,
  .mobile-contact-header {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
    margin-top: 2vh !important;
  }

  .mobile-contact-header {
    padding-bottom: 2vh !important;
  }

  .cure-wrapper {
    margin-top: 3vh;
  }

  .mobile-img {
    width: 100%;
    margin-top: 3vh;
  }

  .mobile-comments {
    width: 100%;
    margin-top: 3vh;
  }

  .contact-area {
    padding-left: 5vw;
    padding-top: 0px;
  }

  .mobile-map {
    width: 100%;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 400px) {
  .mobile-info-bar {
    width: 70vw;
  }

  .mobile-hero-image {
    width: 105%;
  }
}