body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
}

.info-bar-styler {
    border: 1.5px solid #4285F4;
    border-radius: 15px;
    text-align: center;
    line-height: 200%;
}

.info-item {
    text-decoration: none;
}